.border{
    border: 1px solid grey;
}

.admin-sidebar-logo-title{


    img{
        margin-top: -10px;
    }

    .title-text{
        margin-top: 5px;;
        color: #8997bd;
        font-size: 18px;
    }
}


// Sweet Aleret display css
.swal2-cancel{
    margin-right: 20px !important;
}
.swal2-actions .btn-danger:not(:disabled):not(.disabled):active {
    margin-right: 20px !important;
    outline: 0 !important;
    border: none !important;
}
.swal2-actions .btn-danger:not(:disabled):not(.disabled):focus {
    outline: 0 !important;
}


//Post page quill editor styling
.ql-toolbar.ql-snow{
    border: 1px solid #e3ebf6 !important;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.ql-container.ql-snow{
    border: 1px solid #e3ebf6 !important;
    border-radius: .25rem;
    margin-top: 2PX;
    min-height: 450px;
}

//Tags input css
.bootstrap-tagsinput{
    border: 1px solid #e3ebf6 !important;
    border-radius: .25rem;
    width: 100%;
    border-top: none;
    box-shadow: none;

    input{
        height: 26px;
    }

    .tag.label.label-info{
        background-color: #12a4ed;
        border: 1px solid #e3ebf6;
        color: #fff !important;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        //margin-top: 5px;
        padding: 0 5px;
    }

    .tag [data-role="remove"] {
        margin-left: 2px;
        cursor: pointer;
    }
}
